In [22]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
import seaborn as sns

In [58]:
df = pd.read_csv('classes.csv')
df.dropna()
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [59]:
df = pd.get_dummies(df, dtype = 'float')

In [63]:
corr = df.corr()
corr.style.background_gradient(cmap ='coolwarm')

In [61]:
df.columns

Index(['Temperature (K)', 'Luminosity(L/Lo)', 'Radius(R/Ro)',
       'Absolute magnitude(Mv)', 'Star type', 'Star color_Blue',
       'Star color_Blue ', 'Star color_Blue White', 'Star color_Blue white',
       'Star color_Blue white ', 'Star color_Blue-White',
       'Star color_Blue-white', 'Star color_Orange', 'Star color_Orange-Red',
       'Star color_Pale yellow orange', 'Star color_Red', 'Star color_White',
       'Star color_White-Yellow', 'Star color_Whitish', 'Star color_Yellowish',
       'Star color_Yellowish White', 'Star color_white',
       'Star color_yellow-white', 'Star color_yellowish', 'Spectral Class_A',
       'Spectral Class_B', 'Spectral Class_F', 'Spectral Class_G',
       'Spectral Class_K', 'Spectral Class_M', 'Spectral Class_O'],
      dtype='object')

In [62]:
df = df.drop(['Star color_Blue', 'Star color_Blue ', 'Star color_Blue White', 'Star color_Blue white', 
              'Star color_Blue white ', 'Star color_Blue-White', 'Star color_Blue-white', 'Star color_Orange', 
              'Star color_Orange-Red', 'Star color_Pale yellow orange', 'Star color_Red', 'Star color_White', 
              'Star color_White-Yellow', 'Star color_Whitish', 'Star color_Yellowish', 'Star color_Yellowish White', 
              'Star color_white', 'Star color_yellow-white', 'Star color_yellowish', 'Spectral Class_A',
              'Spectral Class_B', 'Spectral Class_F', 'Spectral Class_G', 'Spectral Class_K', 'Spectral Class_M', 
              'Spectral Class_O','Absolute magnitude(Mv)'], axis=1)

In [67]:
X = df.loc[:, df.columns != 'Star type']
y = df['Star type']

In [68]:
XL = np.array(X)
YL = np.array(y)
X_tensor = torch.from_numpy(XL).float()
Y_tensor = torch.from_numpy(YL).long()

In [69]:
class MyNNet(nn.Module):
    def __init__(self,input_d,output_d,layer_s,dropout):
        super(MyNNet,self).__init__()
        self.myn = nn.Sequential(
            nn.Linear(input_d,layer_s[0]),
            nn.Relu(),
            nn.Dropout(dropout), 
            (10,20,[100,500,100],0.2)
        )
        
        def forward(self,input_tensor):
            output_tensor = self.myn(input_tensor)
            
            return output_tensor

NameError: name 'myneualnetwork' is not defined